BODY {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #000f0f 50px solid;
	MIN-WIDTH: 300px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #000f0f;
	PADDING-TOP: 0px;
	FONT-FAMILY: verdana, arial, sans-serif;
	BACKGROUND-COLOR: #000f0f;
	TEXT-ALIGN: center
}

.rounded-corners
{	
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-topleft: 10px;

-ms-border-radius-topleft: 10px;
-ms-border-radius-topright: 10px;
-ms-border-radius-bottomleft: 10px;
-ms-border-radius-bottomright: 10px;
}

#alert 
{
    width: 1024px;
    background-color: #F7F2E0;
    border: #0f0f0f solid 1px;
    /* clear: both; */
    /* float: left; */
}

#alertIzq 
{
    width: 320px;
    background-color: #F7F2E0;
    border: #0f0f0f solid 1px;
    /* clear: both; */
    /* float: left; */
}

/* botones */
.redondearfm{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #8A4B08;
border : 2px solid #fffcfc;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 12px;
font-weight: bold;
color: #FFBF00;
height: 40px;
width: 110px;
}

.redondearplu{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #B45F04;
border : 2px solid #FFBF00;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 10px;
font-weight: bold;
color: #fffcfc;
height: 40px;
width: 80px;
}

.redondearpluC{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #B45F04;
border : 2px solid #FFBF00;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 10px;
font-weight: bold;
color: #fffcfc;
height: 50px;
width: 120px;
}

.redondearplucomp{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #DF7401;
border : 2px solid #fffcfc;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 10px;
font-weight: bold;
color: #fffcfc;
height: 40px;
width: 85px;
}

.redondearpg{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #173B0B; /* #298A08 #0B6121; #DF7401; */
border : 2px solid #BDBDBD;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 22px;
font-weight: bold;
color: #00FF00; /* #fffcfc */
height: 40px;
width: 40px;
/* padding-left : 5px;
padding-right : 5px; */
}

.redondearpgt{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #173B0B; /* #298A08 #0B6121; #DF7401; */
border : 2px solid #BDBDBD;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 12px;
font-weight: bold;
color: #00FF00; /* #fffcfc */
height: 40px;
width: 40px;
/* padding-left : 5px;
padding-right : 5px; */
}

.redondeaCierre{
-moz-border-radius: 5px;
-ms-border-radius: 5px;
background-color: #173B0B;
border : 2px solid #BDBDBD;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 12px;
font-weight: bold;
color: #00FF00;
height: 30px;
width: 150px;
}


input {
	BORDER-RIGHT:  #BDBDBD 2px solid;
	BORDER-TOP:    #BDBDBD 2px solid;
	BORDER-LEFT:   #BDBDBD 2px solid;
	BORDER-BOTTOM: #BDBDBD 2px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 20px;
	MARGIN: 0px;
	FONT-FAMILY: arial;
	BACKGROUND-COLOR: #fffcfc;
	TEXT-ALIGN: center
}

.tabla {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-align: right;
width: 450px;

}

.tabla th {
padding: 5px;
font-size: 16px;
background-color: #83aec0;
background-image: url(fondo_th.png);
background-repeat: repeat-x;
color: #FFFFFF;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #558FA6;
border-bottom-color: #558FA6;
font-family: “Trebuchet MS”, Arial;
text-transform: uppercase;
}