*{ margin:0; padding:0;}
body{ font:100% normal Arial, Helvetica, sans-serif; background:#161712;} /*background:#696969;*/
form,input,select,textarea{margin:0; padding:0; color:#ffffff;}

div.box {
margin:0 auto;
width:1024px;
background:#222222;
position:relative;
top:30px;
border:1px solid #262626;
}

div.box h1 { 
color:#ffffff;
font-size:18px;
text-transform:uppercase;
padding:5px 0 5px 5px;
border-bottom:1px solid #161712;
border-top:1px solid #161712; 
}

div.box label {
width:100%;
display: block;
background:#1C1C1C;
border-top:1px solid #262626;
border-bottom:1px solid #161712;
padding:5px 0 1px 0;
}

div.box label span {
display: block;
color:#bbbbbb;
font-size:12px;
float:left;
width:100px;
text-align:right;
padding:5px 10px 0 0;
}

div.box .input_text {
padding:5px 15px;
width:150px;
background:#262626;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
}

div.box .message{
padding:7px 7px;
width:350px;
background:#262626;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
overflow:hidden;
height:100px;
}

div.box .button
{
margin:0 0 10px 0;
padding:2px 2px;
background:#CC0000;
border:0px;
position: relative;
top:5px;
left:190px; /*382*/
width:100px;
border-bottom: 1px double #660000;
border-top: 1px double #660000;
border-left:1px double #FF0033;
border-right:1px double #FF0033;
}

div.box .buttonA
{
margin:0 0 10px 0;
padding:2px 2px;
background:#e9e74a;
border:0px;
position: relative;
top:5px;
left:10px; /*382*/
width:100px;
border-bottom: 1px double #ffdf25;
border-top: 1px double #ffdf25;
border-left:1px double #ffdf25;
border-right:1px double #ffdf25;
}

table,td,a {
	color: #000;
	font: normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif
}

h1 {
	font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0
}

h2 {
	font: normal normal 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0
}

h3 {
	font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #008000;
	margin: 0 0 15px 0
}

div.tableContainer {
	clear: both;
	border: 1px solid #963;
	height: 240px;
	overflow: auto;
	width: 1024px
}
/* Reset overflow value to hidden for all non-IE browsers. */
html.body div.tableContainer {
	overflow: hidden;
	width: 1024px
}

div.tableContainer table {
	float: left;
	width: 920px
}

/* Conenedor de tabla */
		html.body div.tableContainer table {
	width: 920px
}

thead.fixedHeader tr {
	position: relative
}

html.body thead.fixedHeader tr {
	display: block
}

thead.fixedHeader th {
	background: #DF0101;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

thead.fixedHeader a,thead.fixedHeader a:link,thead.fixedHeader a:visited
	{
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

html.body tbody.scrollContent {
	display: block;
	height: 300px;
	overflow: auto;
	width: 100%
}

tbody.scrollContent td,tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
/**/
html.body thead.fixedHeader th {
	width: 240px
}

html.body thead.fixedHeader th+th {
	width: 240px
}

html.body thead.fixedHeader th+th+th {
	width: 240px
}

html.body tbody.scrollContent td {
	width: 150px
}

html.body tbody.scrollContent td+td {
	width: 150px
}

html.body tbody.scrollContent td+td+td {
	width: 150px
}

